# Ignorar la carpeta node_modules y su contenido
node_modules/

# Ignorar archivos de respaldo creados por editores de texto
*~

# Ignorar archivos de registro y archivos de errores
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar archivos generados durante el desarrollo
.DS_Store
.env
